@model teste3.Models.Moeda

@{
    ViewData["Title"] = "Moeda";
}

<h2>Moeda</h2>

<h4>Moeda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Moeda">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abreviatura" class="control-label"></label>
                <input asp-for="Abreviatura" class="form-control" />
                <span asp-validation-for="Abreviatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cotacao" class="control-label"></label>
                <input asp-for="Cotacao" class="form-control" />
                <span asp-validation-for="Cotacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
